html
    head
        link(href='style.css', rel='stylesheet')
        script(src='script.js')
    body
        h2 Blue circle will travel towards the cursor
        p Move blue circle to push red ball to green dot
        #game1.game
            .goal
            .ball
            .play
