$clr-bg: #ccc;
$clr-ball: #c00;
$clr-goal: #0c0;
$clr-play: #00c;

body {
    text-align: center;
}

.game {
    background: $clr-bg;
    position: relative; 
    overflow: hidden;

    margin: 0 auto;

    .ball, .play, .goal {
        position: absolute;
        border-radius: 50%;
    }

    .ball { background: $clr-ball; }
    .play { background: $clr-play; }
    .goal { background: $clr-goal; }
}
